

NET "rx" LOC = R7;
NET "tx" LOC = M14;
NET "reset" LOC = K17;
NET "clk" LOC = C9;


NET "bobina_y[0]" LOC = C5;
NET "bobina_z[0]" LOC = J2;


NET "bobina_x[3]" LOC = D7;
NET "bobina_x[2]" LOC = C7;
NET "bobina_x[1]" LOC = F8;
NET "bobina_x[0]" LOC = E8;
NET "bobina_y[3]" LOC = B4;
NET "bobina_y[2]" LOC = A4;
NET "bobina_y[1]" LOC = D5;
NET "bobina_z[3]" LOC = A6;
NET "bobina_z[2]" LOC = B6;
NET "bobina_z[1]" LOC = E7;

# PlanAhead Generated physical constraints 

NET "leds[7]" LOC = F9;
NET "leds[6]" LOC = E9;
NET "leds[5]" LOC = D11;
NET "leds[4]" LOC = C11;
NET "leds[3]" LOC = F11;
NET "leds[2]" LOC = E11;
NET "leds[1]" LOC = E12;
NET "leds[0]" LOC = F12;


NET "LCD_E" LOC = "M18";
NET "LCD_RS" LOC = "L18";
NET "LCD_Wn" LOC = "L17";
# The LCD four-bit data interface is shared with the StrataFlash.
NET "LCD_D<0>" LOC = "R15";
NET "LCD_D<1>" LOC = "R16";
NET "LCD_D<2>" LOC = "P17";
NET "LCD_D<3>" LOC = "M15";